<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="onOpenMenu()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small">
      <ion-icon name="folder"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="container">
    <!-- <ion-button *ngFor="let b of [].constructor(50)" (click)="onButtonClick()">
      <ion-label> mybutton </ion-label></ion-button
    > -->
  </div>
</ion-content>
